body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222; /* Color de fondo oscuro para la página */
    color: #fff; /* Color de texto blanco */
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #333; /* Color de fondo oscuro para el encabezado */
}

header h1 {
    margin: 0;
}

.container {
    width: 80%;
    max-width: 800px; /* Anchura máxima del contenedor */
    margin: 20px auto; /* Centrar el contenedor horizontalmente */
}

.job-offer {
    background-color: #333; /* Color de fondo oscuro para cada oferta de trabajo */
    padding: 20px;
    margin-bottom: 20px; /* Espacio entre cada oferta */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
    text-align: center; /* Alinear contenido al centro */
}

.job-offer h2 {
    margin-top: 0;
}

.job-offer p {
    color: #ccc; /* Color de texto más claro para la descripción */
}

.job-offer a {
    display: inline-block;
    margin-top: 10px; /* Espacio entre el contenido y el enlace */
    padding: 10px 20px; /* Padding del botón */
    background-color: #007bff; /* Color de fondo azul oscuro para el botón */
    color: #fff; /* Texto blanco */
    text-decoration: none;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.job-offer a:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el mouse */
}
.add-offer-button {
    position: fixed; /* Posición fija */
    top: 20px; /* Desde la parte superior */
    right: 20px; /* Desde la parte derecha */
}

.add-offer-link {
    display: inline-block;
    padding: 10px 20px; /* Padding del botón */
    background-color: #007bff; /* Color de fondo azul oscuro para el botón */
    color: #fff; /* Texto blanco */
    text-decoration: none;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.add-offer-link:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el mouse */
}